* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cecece;
}

h1 {
    text-align: center;
    font-size: 50px;

}

.main-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20vh auto;
    width: 70%;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

img {
    margin: 15px 0;
    height: 100px;

}

a {
    cursor: pointer;
    margin: 15px auto;
    padding: 5px;
    width: 50%;
    text-decoration: none;
    color: black;
    background-color: #cecece;
    text-align: center;
}

.center {
    text-align: center;
}

.name {
    height: 50px;
    width: 500px;
    border-top-left-radius: 3%;
}

.shortDescription {
    height: 250px;
    width: 500px;
}

.description {
    height: 450px;
    width: 500px;
}


 label { 
     width: 80%;
     padding: 5px;
     color: white;
     font-size: 2em;
     font-weight: bold;
 }

label:hover {
    cursor: pointer;
}

input {
    padding: 20px;
    width: 80%;

}

.container {
    width: 80%;
    height: 80vh;
    padding: 5vh 0;
    background-color: rgb(211, 211, 211);
    position: fixed;
    left: 10%;
    top: 10vh;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}