* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20vh auto;
    width: 60%;
}